body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
   
}
.slider-position{
   
    margin-top: -100px;
}

.navbar-position{
    z-index: 1;
   
}

.img-resize{
    height: 700px;
}