body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
   
}
.slider-position{
   
    margin-top: -50px;
}

.navbar-position{
    z-index: 1;
   
}

.img-resize{
    height: 700px;
}

.card-img-top{
    
    height: 600px;
}

#pagin nav {
    width: 60%;
    padding: 20px 0;
    display: flex;
  }

  #ul-style {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px
  }

  #pagin a {
    color: redff;
    padding: 0px 8px;
    text-decoration: none;
  }

  .active a,
  #pagin a:hover {
    color: #ffcc5c !important;
    border-bottom: 3px solid #ffcc5c;
  }

  span {
    border-bottom: 3px solid transparent;
  }

  .prev,
  .next {
    transition: all 600ms ease;
  }

  .prev:hover {
    transition: all 600ms ease;
    transform: translateX(-10px);
    border-bottom: none !important;
  }

  .next:hover {
    transition: all 600ms ease;
    transform: translateX(10px);
    border-bottom: none !important;
  }

  #page-list {
    display: none;
  }

  .content-2{
    background-color: antiquewhite;
  }

  .content-3{
   background-color: dimgray; 
  }